In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [8]:
df = pd.read_excel(r'E:\notes\noorain_python\Python Class(19-Apr)\Project Data.xlsx')
df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,2017
0,Government,Canada,Protective Cover,None,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2018-01-01,1,January,2018
1,Government,Germany,Protective Cover,None,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2018-01-01,1,January,2018
2,Midmarket,France,Protective Cover,None,2178.0,3,15,32670.0,0.0,32670.0,21780.0,10890.0,2018-06-01,6,June,2018
3,Midmarket,Germany,Protective Cover,None,888.0,3,15,13320.0,0.0,13320.0,8880.0,4440.0,2018-06-01,6,June,2018
4,Midmarket,Mexico,Protective Cover,None,2470.0,3,15,37050.0,0.0,37050.0,24700.0,12350.0,2018-06-01,6,June,2018

In [7]:
output = pd.crosstab(df['Country'], df['Product'],values=df[' Sales'], aggfunc=[np.sum])
output

                                       sum                          \
Product                  Bluetooth Speaker        Case    Chargers
Country
Canada                         3329490.340  2711919.03  7611520.99
France                         3978096.235  3527382.37  5597751.06
Germany                        4392907.000  3566044.37  5229814.74
Mexico                         2250737.890  1941329.31  7627731.39
United States of America       4298828.000  3644126.80  6944325.77


Product                  Protective Cover   Smartphone      Tablet
Country
Canada                        2610204.340  3855765.875  4768754.31
France                        3423321.895  4016427.130  3811193.59
Germany                       3062340.680  3960250.260  3293983.77
Mexico                        2879601.420  3077555.390  3172396.71
United States of America      1839839.550  2837117.405  5465592.64

In [2]:
data = pd.read_excel(r'E:\notes\noorain_python\Python Class(10-May)\Data\Evening.xlsx')
data

  CODE                    EmpName    Shift  Salary
0  KBD  NAIYER IQUBAL              Evening   35536
1  NWH  SUSANTA SAHOO              Evening   10090
2  ZFS  SRIKANTA SAMAL             Evening   28272
3  QBL  BHAGAT SINGH DHANKA        Evening   12788
4  XOI  VIJAY KUMAR                Evening   11196
5  NXE  GIRIRAJ DUTTA              Evening   30509

In [4]:
df = pd.DataFrame()
xl = pd.ExcelFile(r'E:\notes\noorain_python\Python Class(10-May)\Data\Evening.xlsx')
for i in xl.sheet_names:
    sh = xl.parse(i)
    df = df.append(sh)
print(df)

  CODE                    EmpName     Shift  Salary
0  KBD  NAIYER IQUBAL               Evening   35536
1  NWH  SUSANTA SAHOO               Evening   10090
2  ZFS  SRIKANTA SAMAL              Evening   28272
3  QBL  BHAGAT SINGH DHANKA         Evening   12788
4  XOI  VIJAY KUMAR                 Evening   11196
5  NXE  GIRIRAJ DUTTA               Evening   30509
0  KBD  NAIYER IQUBAL               General   35536
1  NWH  SUSANTA SAHOO               General   10090
2  ZFS  SRIKANTA SAMAL              General   28272
3  QBL  BHAGAT SINGH DHANKA         General   12788
4  XOI  VIJAY KUMAR                 General   11196
5  NXE  GIRIRAJ DUTTA               General   30509
0  KBD  NAIYER IQUBAL                 Night   35536
1  NWH  SUSANTA SAHOO                 Night   10090
2  ZFS  SRIKANTA SAMAL                Night   28272
3  QBL  BHAGAT SINGH DHANKA           Night   12788
4  XOI  VIJAY KUMAR                   Night   11196
5  NXE  GIRIRAJ DUTTA                 Night   30509
0  KBD  NAIYER IQUBAL              DayShift   35536
1  NWH  SUSANTA SAHOO              DayShift   10090
2  ZFS  SRIKANTA SAMAL             DayShift   28272
3  QBL  BHAGAT SINGH DHANKA        DayShift   12788
4  XOI  VIJAY KUMAR                DayShift   11196
5  NXE  GIRIRAJ DUTTA              DayShift   30509

In [5]:
import glob

In [18]:
data = glob.glob('E://notes//noorain_python//Python Class(10-May)//Data//*.xlsx')

In [19]:
for i in data:
    print(i)

E://notes//noorain_python//Python Class(10-May)//Data\Evening.xlsx
E://notes//noorain_python//Python Class(10-May)//Data\General.xlsx
E://notes//noorain_python//Python Class(10-May)//Data\Morning.xlsx
E://notes//noorain_python//Python Class(10-May)//Data\Night.xlsx

In [16]:
df = pd.DataFrame()
data = glob.glob('E://notes//noorain_python//Python Class(10-May)//Data1//*.xlsx')
for i in data:
    xl = pd.read_excel(i)
    df = df.append(xl)
print(df)

                     Customer   Region  Invoice       Date  Years Product  \
0     Alluring Bottle Company  Central    19022 2015-11-12   2015    U624
1     Alluring Bottle Company  Central    19026 2016-08-24   2016    Q197
2     Alluring Bottle Company  Central    19038 2017-09-10   2017    W164
3     Alluring Bottle Company  Central    19047 2015-04-16   2015    D506
4     Alluring Bottle Company  Central    19088 2013-07-05   2013    D506
...                       ...      ...      ...        ...    ...     ...
5535  Wonderful Meter Company     East   149835 2014-01-29   2014    W164
5536  Wonderful Meter Company     East   149917 2017-09-05   2017    D506
5537  Wonderful Meter Company     East   149935 2014-08-22   2014    W164
5538  Wonderful Meter Company     East   150035 2017-11-04   2017    U624
5539  Wonderful Meter Company     East   150052 2016-09-21   2016    D506

       Revenue   Profit
0     12848.56  3212.14
1     12968.28  3760.74
2     16307.20  5055.68
3     14016.80  2663.20
4     20321.60  3860.80
...        ...      ...
5535  13224.96  4099.20
5536   9537.60  1812.00
5537  19538.40  6056.96
5538  23533.58  5883.93
5539  20302.40  3857.60

[131068 rows x 8 columns]

In [17]:
df['Customer'].unique()

array(['Alluring Bottle Company', 'Effortless Thermostat Company',
       'Excellent Toothpick Company', 'Exclusive Shingle Supply',
       'Fabulous Luggage Traders', 'Fabulous Quilt Company',
       'Fabulous Tripod Corporation', 'Functional Washer Inc.',
       'Honest Belt Corporation', 'Magnificent Bobsled Inc.',
       'Mouthwatering Eggbeater Company', 'New Calculator Traders',
       'Paramount Faucet Inc.', 'Rare Meter Company',
       'Rare Washer Corporation', 'Special Marble Corporation',
       'Steadfast Door Partners', 'Superior Aquarium Corporation',
       'Sure Shovel Inc.', 'Tremendous Aerobic Inc.',
       'Trouble-Free Door Supply', 'Trustworthy Briefcase Inc.',
       'Well-Suited Thermostat Inc.', 'Wonderful Meter Company'],
      dtype=object)

In [21]:
df.tail()

,Customer,Region,Invoice,Date,Years,Product,Revenue,Profit
5535,Wonderful Meter Company,East,149835,2014-01-29,2014,W164,13224.96,4099.20
5536,Wonderful Meter Company,East,149917,2017-09-05,2017,D506,9537.60,1812.00
5537,Wonderful Meter Company,East,149935,2014-08-22,2014,W164,19538.40,6056.96
5538,Wonderful Meter Company,East,150035,2017-11-04,2017,U624,23533.58,5883.93
5539,Wonderful Meter Company,East,150052,2016-09-21,2016,D506,20302.40,3857.60

In [22]:
df = pd.DataFrame()
data = glob.glob('E://notes//noorain_python//Python Class(10-May)//Data2//*.xlsx')
for i in data:
    xl = pd.read_excel(i)
    df = df.append(xl)

In [23]:
df

,Agent,AcctType,OpenedBy,Branch,Customer,Date,Amount
0,Abhishek Kumar,CD,Teller,Central,New,2015-08-21,14571
1,Varun Kumar,CD,New Accts,Central,New,2019-09-02,16000
2,Ashok Kumar,CD,Teller,Central,New,2016-02-23,11779
3,Rahul Kumar,CD,New Accts,North County,New,2019-08-15,7028
4,Ashok Kumar,CD,New Accts,North County,New,2017-04-26,14067
...,...,...,...,...,...,...,...
94,Abhishek Kumar,Checking,New Accts,Westside,New,2017-02-25,12673
95,Abhishek Kumar,Checking,New Accts,Westside,New,2019-09-04,12673
96,Abhishek Kumar,Checking,New Accts,Westside,New,2017-08-30,12673
97,Abhishek Kumar,Checking,New Accts,Westside,New,2015-03-11,35743
98,Abhishek Kumar,Checking,New Accts,Westside,New,2015-06-29,12673

In [9]:
df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,2017
0,Government,Canada,Protective Cover,None,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2018-01-01,1,January,2018
1,Government,Germany,Protective Cover,None,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2018-01-01,1,January,2018
2,Midmarket,France,Protective Cover,None,2178.0,3,15,32670.0,0.0,32670.0,21780.0,10890.0,2018-06-01,6,June,2018
3,Midmarket,Germany,Protective Cover,None,888.0,3,15,13320.0,0.0,13320.0,8880.0,4440.0,2018-06-01,6,June,2018
4,Midmarket,Mexico,Protective Cover,None,2470.0,3,15,37050.0,0.0,37050.0,24700.0,12350.0,2018-06-01,6,June,2018

In [18]:
data = pd.crosstab(index=[df['Segment'], df['Country']], columns=df['Product'], values=df[' Sales'], aggfunc=([np.sum,np.min,np.max,np.count_nonzero]))

In [23]:
data

                                                        sum              \
Product                                   Bluetooth Speaker        Case
Segment          Country
Channel Partners Canada                           34315.320    55561.32
                 France                           33886.440    48264.36
                 Germany                          60088.680    45238.80
                 Mexico                           28434.000    68634.72
                 United States of America         26199.600    44145.36
Enterprise       Canada                          792843.750   376312.50
                 France                          379543.750   367282.50
                 Germany                         437547.500   497477.50
                 Mexico                          672087.500   339910.00
                 United States of America       1299215.000  1033861.25
Government       Canada                         1374572.470   829859.91
                 France                         2332438.170  1140656.71
                 Germany                        2838468.320  1791079.27
                 Mexico                          606321.440   664684.34
                 United States of America        661621.650  1122655.79
Midmarket        Canada                           22731.300    57994.80
                 France                           88198.875    62485.80
                 Germany                          46264.500    23626.80
                 Mexico                           88729.950   127970.25
                 United States of America         18573.750    18161.40
Small Business   Canada                         1105027.500  1392190.50
                 France                         1144029.000  1908693.00
                 Germany                        1010538.000  1208622.00
                 Mexico                          855165.000   740130.00
                 United States of America       2293218.000  1425303.00

                                                                        \
Product                                      Chargers Protective Cover
Segment          Country
Channel Partners Canada                     165020.04       110610.240
                 France                     108600.78        65787.120
                 Germany                     43462.80        39076.080
                 Mexico                      53551.80        18460.320
                 United States of America    83878.98        48904.920
Enterprise       Canada                     965142.50       356716.250
                 France                    1250380.00      1187520.625
                 Germany                   1115385.00       513497.500
                 Mexico                    1071283.75       717517.500
                 United States of America   865668.75       428456.250
Government       Canada                    3956873.45      1332156.650
                 France                    2532864.68      1397091.150
                 Germany                   1959650.49       880929.400
                 Mexico                    3567885.44      1713425.850
                 United States of America  2864956.64       757341.030
Midmarket        Canada                     198132.00       126091.200
                 France                     241130.10        39432.000
                 Germany                    112689.45        32837.700
                 Mexico                     134240.40        76821.750
                 United States of America   221537.40        62122.350
Small Business   Canada                    2326353.00       684630.000
                 France                    1464775.50       733491.000
                 Germany                   1998627.00      1596000.000
                 Mexico                    2800770.00       353376.000
                 United States of America  2908284.00       543015.000

                                                                    \
Product                                     Smartphone      Tablet
Segment          Country
Channel Partners Canada                      67177.560    58479.66
                 France                      43259.280    72292.38
                 Germany                     51318.960    97240.56
                 Mexico                      32262.600    33035.64
                 United States of America   123624.600    39780.72
Enterprise       Canada                     371647.500  1104828.75
                 France                     392952.500   313211.25
                 Germany                   1273906.250   249012.50
                 Mexico                     234233.750   280848.75
                 United States of America   370867.500   352536.25
Government       Canada                    2579791.790   667982.25
                 France                    2686041.500  2038690.51
                 Germany                   2179576.750  1803191.71
                 Mexico                    1440996.090  1798286.22
                 United States of America  1056492.980  1927678.02
Midmarket        Canada                      44741.025    60523.65
                 France                      32738.850   129816.45
                 Germany                     23052.300    62874.00
                 Mexico                      52918.950    30455.10
                 United States of America    95234.325    49756.65
Small Business   Canada                     792408.000  2876940.00
                 France                     861435.000  1257183.00
                 Germany                    432396.000  1081665.00
                 Mexico                    1317144.000  1029771.00
                 United States of America  1190898.000  3095841.00

                                                       amin             \
Product                                   Bluetooth Speaker       Case
Segment          Country
Channel Partners Canada                             6601.92   25345.32
                 France                            12406.80   22127.64
                 Germany                            5040.96   18540.00
                 Mexico                             4280.40    6305.76
                 United States of America           9322.80   13429.92
Enterprise       Canada                            43125.00   43125.00
                 France                            70443.75  156048.75
                 Germany                           95831.25  206852.50
                 Mexico                           169312.50  136560.00
                 United States of America          82046.25   82046.25
Government       Canada                             7388.85    2335.76
                 France                             4428.27    1763.86
                 Germany                            4338.00    7707.35
                 Mexico                             2508.66    8139.60
                 United States of America           3560.97    7904.82
Midmarket        Canada                             5126.40   28324.80
                 France                            36031.50   27972.00
                 Germany                            6885.00    9811.80
                 Mexico                             3344.25   28795.95
                 United States of America           7908.75    8936.40
Small Business   Canada                            69402.00  354108.00
                 France                           106536.00   87906.00
                 Germany                          356250.00   91182.00
                 Mexico                           175260.00  139230.00
                 United States of America         382788.00  683397.00

                                                                       ...  \
Product                                     Chargers Protective Cover  ...
Segment          Country                                               ...
Channel Partners Canada                     15229.20         10569.12  ...
                 France                     12406.80         12794.64  ...
                 Germany                     4404.00          9100.08  ...
                 Mexico                      4007.64          4007.64  ...
                 United States of America    4168.80          4168.80  ...
Enterprise       Canada                    172151.25         90956.25  ...
                 France                     83600.00        109972.50  ...
                 Germany                    95400.00        104222.50  ...
                 Mexico                     81095.00        177100.00  ...
                 United States of America   89966.25         40837.50  ...
Government       Canada                      1655.08          5217.03  ...
                 France                      4981.00         14714.70  ...
                 Germany                     2293.20          1685.60  ...
                 Mexico                      4472.00          3318.77  ...
                 United States of America    2367.40          1730.54  ...
Midmarket        Canada                      3139.20         20826.00  ...
                 France                      8235.00          6762.00  ...
                 Germany                     3586.20         13320.00  ...
                 Mexico                      5016.00         37050.00  ...
                 United States of America    9662.40         28623.00  ...
Small Business   Canada                    233091.00        298662.00  ...
                 France                    124992.00        124992.00  ...
                 Germany                   200499.00         62916.00  ...
                 Mexico                    159570.00        146718.00  ...
                 United States of America  282435.00        260580.00  ...

                                                 amax                   \
Product                                      Chargers Protective Cover
Segment          Country
Channel Partners Canada                      42997.68        25932.720
                 France                      25904.34        31731.480
                 Germany                     19383.00        17253.600
                 Mexico                      30835.08         8113.320
                 United States of America    30072.48        22663.080
Enterprise       Canada                     334302.50       265760.000
                 France                     358560.00       514524.375
                 Germany                    408386.25       293993.750
                 Mexico                     262762.50       303257.500
                 United States of America   355300.00       387618.750
Government       Canada                     978236.00       978236.000
                 France                     746707.50       746707.500
                 Germany                    691012.00       529550.000
                 Mexico                     848172.50       484060.500
                 United States of America  1159200.00       573205.500
Midmarket        Canada                      34736.10        40100.400
                 France                      53594.10        32670.000
                 Germany                     30153.00        19517.700
                 Mexico                      37080.00        39771.750
                 United States of America    50163.75        33499.350
Small Business   Canada                     563304.00       385968.000
                 France                     708439.50       608499.000
                 Germany                    508032.00       750537.000
                 Mexico                     700245.00       206658.000
                 United States of America   922680.00       282435.000

                                                                   \
Product                                     Smartphone     Tablet
Segment          Country
Channel Partners Canada                      38021.400   36208.62
                 France                      25542.000   24395.28
                 Germany                     27799.200   34056.00
                 Mexico                      15180.000   22302.24
                 United States of America    30072.480   21359.52
Enterprise       Canada                     191231.250  334302.50
                 France                     233531.250  215820.00
                 Germany                    527437.500  190362.50
                 Mexico                     128880.000   99758.75
                 United States of America   305730.000  262570.00
Government       Canada                     705600.000  326922.75
                 France                     962500.000  731472.00
                 Germany                   1017338.000  986811.00
                 Mexico                     626640.000  665420.00
                 United States of America   659613.500  884205.00
Midmarket        Canada                      22484.700   40100.40
                 France                      27972.000   51143.40
                 Germany                     13240.500   28299.75
                 Mexico                      28795.950   21801.60
                 United States of America    42713.325   33499.35
Small Business   Canada                     563304.000  686952.00
                 France                     631125.000  645300.00
                 Germany                    356250.000  725907.00
                 Mexico                     678960.000  766413.00
                 United States of America   808110.000  827604.00

                                              count_nonzero                 \
Product                                   Bluetooth Speaker  Case Chargers
Segment          Country
Channel Partners Canada                                 2.0   2.0      6.0
                 France                                 2.0   2.0      6.0
                 Germany                                4.0   2.0      4.0
                 Mexico                                 4.0   4.0      4.0
                 United States of America               2.0   2.0      6.0
Enterprise       Canada                                 6.0   2.0      4.0
                 France                                 3.0   2.0      6.0
                 Germany                                3.0   2.0      6.0
                 Mexico                                 3.0   2.0      6.0
                 United States of America               6.0   4.0      4.0
Government       Canada                                 8.0  10.0     18.0
                 France                                11.0   9.0     16.0
                 Germany                                9.0   9.0     18.0
                 Mexico                                 9.0   7.0     18.0
                 United States of America               9.0   7.0     18.0
Midmarket        Canada                                 2.0   2.0      8.0
                 France                                 2.0   2.0      8.0
                 Germany                                4.0   2.0      6.0
                 Mexico                                 4.0   4.0      6.0
                 United States of America               2.0   2.0      8.0
Small Business   Canada                                 2.0   2.0      6.0
                 France                                 4.0   5.0      4.0
                 Germany                                2.0   3.0      6.0
                 Mexico                                 2.0   3.0      6.0
                 United States of America               4.0   2.0      4.0


Product                                   Protective Cover Smartphone Tablet
Segment          Country
Channel Partners Canada                                6.0        2.0    2.0
                 France                                3.0        3.0    4.0
                 Germany                               3.0        3.0    4.0
                 Mexico                                3.0        3.0    2.0
                 United States of America              3.0        5.0    2.0
Enterprise       Canada                                2.0        2.0    4.0
                 France                                5.0        2.0    2.0
                 Germany                               3.0        4.0    2.0
                 Mexico                                3.0        2.0    4.0
                 United States of America              2.0        2.0    2.0
Government       Canada                                6.0       10.0    8.0
                 France                                6.0        9.0    9.0
                 Germany                               8.0        7.0    9.0
                 Mexico                                8.0        9.0    9.0
                 United States of America              8.0        7.0   11.0
Midmarket        Canada                                4.0        2.0    2.0
                 France                                2.0        2.0    4.0
                 Germany                               2.0        2.0    4.0
                 Mexico                                2.0        2.0    2.0
                 United States of America              2.0        4.0    2.0
Small Business   Canada                                2.0        2.0    6.0
                 France                                2.0        2.0    3.0
                 Germany                               4.0        2.0    3.0
                 Mexico                                2.0        4.0    3.0
                 United States of America              2.0        2.0    6.0

[25 rows x 24 columns]